@font-face {
  font-family: 'Euclid Flex';
  src: url('./fonts/EuclidFlex-Regular.eot');
  src: url('./fonts/EuclidFlex-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/EuclidFlex-Regular.woff2') format('woff2'),
    url('./fonts/EuclidFlex-Regular.woff') format('woff'),
    url('./fonts/EuclidFlex-Regular.ttf') format('truetype'),
    url('./fonts/EuclidFlex-Regular.svg#EuclidFlex-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Flex';
  src: url('./fonts/EuclidFlex-Bold.eot');
  src: url('./fonts/EuclidFlex-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/EuclidFlex-Bold.woff2') format('woff2'),
    url('./fonts/EuclidFlex-Bold.woff') format('woff'),
    url('./fonts/EuclidFlex-Bold.ttf') format('truetype'),
    url('./fonts/EuclidFlex-Bold.svg#EuclidFlex-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'ITCAvantGardeW04';
  src: url('./fonts/ITCAvantGardeW04-Bold.eot');
  src: url('./fonts/ITCAvantGardeW04-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ITCAvantGardeW04-Bold.woff2') format('woff2'),
    url('./fonts/ITCAvantGardeW04-Bold.woff') format('woff'),
    url('./fonts/ITCAvantGardeW04-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kommissar Cond Web';
  src: url('./fonts/KommissarCond-Medium-Web.eot');
  src: url('./fonts/KommissarCond-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('./fonts/KommissarCond-Medium-Web.woff2') format('woff2'),
       url('./fonts/KommissarCond-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

body {
  font-family:'Euclid Flex',Helvetica,Arial,sans-serif;
}
